.count {
    margin-left: 10cm;
    margin-top: 3cm;
    background-color: silver;
    text-align: left;
    position: fixed;
    width: 53%;
    padding-left: 7cm;
    height: 50%;
}
.btns {
    width: 1cm;
    color: silver;
    background-color: black;
    margin-left: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btns:hover {
    color: white;
    background-color: black;
}
.btns3 {
    color: silver;
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btns3:hover {
    color: white;
    background-color: black;
}
#count {
    color:brown;
    font-size: 25pt;
    position: absolute;
    margin-top: -1.3cm;
    margin-left: -50px;
}
#count-number {
    border: 1px solid black;
    border-radius: 15px;
    width: 3cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    text-align: center;
    margin-top: 2cm;
    margin-bottom: 15px;
    background-color: indigo;
    color: white;
}
#count-skill{
    margin-top: -4.3cm;
    margin-right: 3cm;
    color: black;
    font-size: 20pt;
    text-align: right;
}
#count-tool{
    margin-right: 3.2cm;
    color: black;
    font-size: 20pt;
    text-align: right;
}